* {
	margin: 0;
	padding: 0;
	box-sizing: bordex-box;
}
body {
	background: #F8F8FF;
	color: #333333;
	margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	color: #444444;
}

.site-header .navbar-nav .nav-link {
	color: #696969;
}

.site-header .navbar-nav .nav-link:hover {
	color: #000;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #FFF;
	padding: 10px 20px;
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	margin-bottom: 20px;
}


.article-title {
	color: #696969;
}

a.article-title:hover {
	color: #000;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	object-fit: cover;
	border-radius: 50%;
	position: relative;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}


.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.fa {
	padding: 5px;
	border-radius: 5px;
	font-size: 30px;
	width: 36px;
	height: 36px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.95;
	text-decoration: none;
}

.social-media-list {
	list-style-type: none;
	margin: 0 70px;
	padding: 0;
	font-size: 0px;
	justify-content: center;
	align-items: center;
}

.social-media-list li {
	margin: 2px;
	display: inline-block;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-github {
	background: #000;
	color: white;
}

.fa-facebook {
	background: #3b5999;
	color: white;
}


.fa-youtube {
	background: #bb0000;
	color: white;
}

.dropdown {
	list-style: none;
	background: transparent;
	color: black;
}

.dropdown .nav-link {
	color:#696969;
	text-decoration: none;
}

.dropdown .btn {
	background: transparent;
	color: #696969;
	border: none;
	outline: none;
	border-radius: 0px;
	padding: 8px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}


.dropdown-menu .dropdown-item {
	display: inline-block;
	width: 100%;
	padding: 10px 10px;
	color: #696969;
}

.dropdown-item:hover {
	background: transparent;
	color: #000;
}






